---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About me">
	<main>
		<div>About page</div>
	</main>
</Layout>

<style>
	.class {

	}
</style>
