---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="FrozenAlex">
	<div class="h-full">
		<div class="">
			very fun
		</div>	
		
	</div>
</Layout>

<style>
	.class {

	}
</style>
