/* Color scheme */

/* purgecss start ignore */

/* Dark mode by default xD */
:root {
  --primary: #222;
  --accent-color: #00bcd4;
  --background-primary: #222;
  --text-primary: #eee;
  --text-secodary: color(var(--text-primary) shade(20%));
}

/* Light mode */
[data-theme="light"] {
    --primary: #222;
    --background-primary: #fff;
    --text-primary: #222;
    --text-secodary: color(var(--text-primary) tint(10%));
}

/* purgecss end ignore */
