/* CSS main file */
@import "./colors.css"; /* Color scheme */
@import "./tailwind.css"; /* Tailwind import */
@import "./typography.css"; /* Typography*/
@import "./navbar.css";
@import "./input.css";

/*** Things that have not many styles ***/

body {
  background-color: var(--background);
  color: var(--text-primary);
}

/* Loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

.loading-spinner {
  animation: spin 2s linear infinite;
}

.loading-message {
  color: var(--text-primary);
  padding-top: 2em;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
