@import "~@/style/variables.scss";
/* Navbar component */
.header {
  // background-color: var(--background);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-color);
  background: var(--background);
  border-bottom: var(--accent-color) solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding:5px;
  min-height: $navbar-height;
  @supports (backdrop-filter: blur(15px)){
    background-color: var(--background-transparent);
    backdrop-filter: blur(15px);
    
  }
  & a {
    text-decoration: none;
    color: var(--text-primary);
  }
}

// + " display:flex; items-center flex-shrink-0
.navbar {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 auto;
  text-decoration: none;
}

.menuButton {
  display: block;
  @include respond-to('md'){
    display: none;
  }

  & button {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    user-select: none;
    outline: none;
    background: none;
    border:none;
   
    &:focus {
      outline: none;
    }
  }
  
  & svg {
    fill: currentColor;
    height: 1.25rem;
    width: 1.25rem;
    color: var(--text-primary);
  }
}

.activeLink {
  color: var(--accent);
}

.logo {
  margin: 0 0.75rem;
  margin-left: 0.75rem;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.025em;
}

.links-container {
  // w-full block flex-grow md:flex md:items-center md:w-auto
  // width: 100%;
  flex-grow: 1;
  display: inline-block;

  &.hidden {
    display: none;
  }

  @include respond-to("md") {
    display: flex !important;
    width: auto;
    justify-content: center;
  }
}

// text-md justify-center md:justify-start items-center md:flex-grow flex
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include respond-to("md") {
    flex-grow: 1;
    justify-content: start;
    &.hidden {
      display: none;
    }
  }

  & a {
    margin-top: 1em;
    text-decoration: none;
    display: block;
    margin-left: 1em;
    @include respond-to("md") {
      margin-top: 0;
    }
    @include respond-to("lg") {
      display: inline-block;
    }
  }
}
// text-md lg:flex-shrink flex justify-center md:justify-start
.social-links {
  font-size: 1rem;
  justify-content: center;
  display: flex;
  justify-items: center;
  @include respond-to("md") {
    justify-content: start;
  }
  @include respond-to("lg") {
    display: inline-block;
    flex-shrink: 1;
  }
  & a {
    // display: block;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 300ms;
    margin-right: 1rem;
    margin-top: 1em;
    vertical-align: middle;
    display: inline-flex;
    // @include respond-to("lg") {
    //   display: inline-block;
    // }
    @include respond-to("md") {
      margin-top: 0;
    }
    &:hover {
      color: var(--accent-color);
    }
  }
}

.always-visible{
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  & a {
    margin-right: 20px;
  }
  @include respond-to("md") {
    display: none;
  }
}
